<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.payne.school.dao.mapper.TestUserMapper">

    <resultMap id="ResultMap" type="com.payne.school.dao.entity.TestUser" >
        <result column="id" property="id" />
        <result column="zhang_id" property="zhangId" />
        <result column="uid" property="uid" />
        <result column="quests" property="quests" />
        <result column="score" property="score" />
        <result column="times" property="times" />
        <result column="is_complete" property="isComplete" />
        <result column="is_submit" property="isSubmit" />
    </resultMap>

    <sql id="Base_Column_List">
                id,
                zhang_id,
                uid,
                quests,
                score,
                times,
                is_complete,
                is_submit
    </sql>

    <sql id="whereSQL">
        <if test="zhangId != null and zhangId != '' ">
            AND zhang_id = #{zhangId}
        </if>
        <if test="uid != null and uid != '' ">
            AND uid = #{uid}
        </if>
        <if test="quests != null ">
            AND quests = #{quests}
        </if>
        <if test="score != null ">
            AND score = #{score}
        </if>
        <if test="times != null ">
            AND times = #{times}
        </if>
        <if test="isComplete != null ">
            AND is_complete = #{isComplete}
        </if>
        <if test="isSubmit != null ">
            AND is_submit = #{isSubmit}
        </if>
    </sql>

    <select id="selectForList" resultMap="ResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM test_user
        WHERE 1 = 1
        <include refid="whereSQL" />
        limit 120
    </select>

    <select id="selectOne" resultMap="ResultMap" parameterType="com.payne.school.dao.entity.TestUser">
        SELECT <include refid="Base_Column_List" />
        FROM test_user
        WHERE id = #{id}
    </select>

    <insert id="insertNotExist"  parameterType="com.payne.school.dao.entity.TestUser">
        insert into test_user (zhang_id, uid, is_complete, is_submit)
        SELECT #{zhangId}, #{uid}, #{isComplete}, #{isSubmit} FROM DUAL
        WHERE NOT EXISTS (SELECT id FROM test_user WHERE zhang_id = #{zhangId} AND uid = #{uid})
    </insert>

    <insert id="insert"  parameterType="com.payne.school.dao.entity.TestUser">
        REPLACE INTO test_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test ='null != zhangId'>
                zhang_id,
            </if>
            <if test ='null != uid'>
                uid,
            </if>
            <if test ='null != quests'>
                quests,
            </if>
            <if test ='null != score'>
                score,
            </if>
            <if test ='null != times'>
                times,
            </if>
            <if test ='null != isComplete'>
                is_complete,
            </if>
            <if test ='null != isSubmit'>
                is_submit
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test ='null != zhangId'>
                #{zhangId},
            </if>
            <if test ='null != uid'>
                #{uid},
            </if>
            <if test ='null != quests'>
                #{quests},
            </if>
            <if test ='null != score'>
                #{score},
            </if>
            <if test ='null != times'>
                #{times},
            </if>
            <if test ='null != isComplete'>
                #{isComplete},
            </if>
            <if test ='null != isSubmit'>
                #{isSubmit}
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.payne.school.dao.entity.TestUser">
        UPDATE test_user
        <set>
            <if test ='null != zhangId'>zhang_id = #{zhangId},</if>
            <if test ='null != uid'>uid = #{uid},</if>
            <if test ='null != quests'>quests = #{quests},</if>
            <if test ='null != score'>score = #{score},</if>
            <if test ='null != times'>times = #{times},</if>
            <if test ='null != isComplete'>is_complete = #{isComplete},</if>
            <if test ='null != isSubmit'>is_submit = #{isSubmit}</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete" >
        DELETE FROM test_user
        WHERE id = #{id}
    </delete>

</mapper>