<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.payne.school.mapper.CourseMapper">

    <resultMap id="ResultMap" type="com.payne.school.model.Course">
        <result column="id" property="id"/>
        <result column="ke_id" property="keId"/>
        <result column="ke_name" property="keName"/>
        <result column="uid" property="uid"/>
        <result column="amount" property="amount"/>
        <result column="is_complete" property="isComplete"/>
    </resultMap>

    <sql id="Base_Column_List">
                id,
                ke_id,
                ke_name,
                uid,
                amount,
                is_complete
    </sql>

    <sql id="whereSQL">
        <if test="keId != null and keId != '' ">
            AND ke_id = #{keId}
        </if>
        <if test="keName != null and keName != '' ">
            AND ke_name = #{keName}
        </if>
        <if test="uid != null and uid != '' ">
            AND uid = #{uid}
        </if>
        <if test="amount != null and amount != '' ">
            AND amount = #{amount}
        </if>
        <if test="isComplete != null ">
            AND is_complete = #{isComplete}
        </if>
    </sql>


    <select id="selectForList" resultMap="ResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM course
        WHERE 1 = 1
        <include refid="whereSQL"/>
    </select>

    <select id="selectOne" resultMap="ResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM course
        WHERE ke_id = #{keId}
    </select>

    <insert id="insert" parameterType="com.payne.school.model.Course">
        INSERT INTO course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test='null != keId'>
                ke_id,
            </if>
            <if test='null != keName'>
                ke_name,
            </if>
            <if test='null != uid'>
                uid,
            </if>
            <if test='null != amount'>
                amount,
            </if>
            <if test='null != isComplete'>
                is_complete
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test='null != keId'>
                #{keId},
            </if>
            <if test='null != keName'>
                #{keName},
            </if>
            <if test='null != uid'>
                #{uid},
            </if>
            <if test='null != amount'>
                #{amount},
            </if>
            <if test='null != isComplete'>
                #{isComplete}
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.payne.school.model.Course">
        UPDATE course
        <set>
            <if test='null != keId'>ke_id = #{keId},</if>
            <if test='null != keName'>ke_name = #{keName},</if>
            <if test='null != uid'>uid = #{uid},</if>
            <if test='null != amount'>amount = #{amount},</if>
            <if test='null != isComplete'>is_complete = #{isComplete}</if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>