<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinchao.dao.mapper.AnswerMapper">

    <resultMap id="ResultMap" type="com.xinchao.dao.entity.Answer" >
        <result column="id" property="id" />
        <result column="quest_id" property="questId" />
        <result column="zheng_id" property="zhengId" />
        <result column="ke_id" property="keId" />
        <result column="answers" property="answers" />
        <result column="is_correct" property="isCorrect" />
    </resultMap>

    <sql id="Base_Column_List">
                id,
                quest_id,
                zheng_id,
                ke_id,
                answers,
                is_correct
    </sql>

    <sql id="whereSQL">
        <if test="questId != null and questId != '' ">
            AND quest_id = #{questId}
        </if>
        <if test="zhengId != null and zhengId != '' ">
            AND zheng_id = #{zhengId}
        </if>
        <if test="keId != null and keId != '' ">
            AND ke_id = #{keId}
        </if>
        <if test="answers != null and answers != '' ">
            AND answers = #{answers}
        </if>
        <if test="isCorrect != null ">
            AND is_correct = #{isCorrect}
        </if>
    </sql>

    <select id="selectForList" resultMap="ResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM answer
        WHERE 1 = 1
        <include refid="whereSQL" />
    </select>

    <select id="selectOne" resultMap="ResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM answer
        WHERE id = #{id}
    </select>

    <insert id="insert"  parameterType="com.xinchao.dao.entity.Answer">
        INSERT INTO answer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test ='null != questId'>
                quest_id,
            </if>
            <if test ='null != zhengId'>
                zheng_id,
            </if>
            <if test ='null != keId'>
                ke_id,
            </if>
            <if test ='null != answers'>
                answers,
            </if>
            <if test ='null != isCorrect'>
                is_correct
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test ='null != questId'>
                #{questId},
            </if>
            <if test ='null != zhengId'>
                #{zhengId},
            </if>
            <if test ='null != keId'>
                #{keId},
            </if>
            <if test ='null != answers'>
                #{answers},
            </if>
            <if test ='null != isCorrect'>
                #{isCorrect}
            </if>
        </trim>
    </insert>

    <insert id="insertBatch" parameterType="com.xinchao.dao.entity.Answer">
        insert into answer (quest_id, zheng_id, ke_id, answers, is_correct) values
        <foreach collection="list" item="item" separator=",">
            (#{item.questId}, #{item.zhengId}, #{item.keId}, #{item.answers}, #{item.isCorrect})
        </foreach>
    </insert>

    <update id="update" parameterType="com.xinchao.dao.entity.Answer">
        UPDATE answer
        <set>
            <if test ='null != zhengId'>zheng_id = #{zhengId},</if>
            <if test ='null != keId'>ke_id = #{keId},</if>
            <if test ='null != answers'>answers = #{answers},</if>
            <if test ='null != isCorrect'>is_correct = #{isCorrect}</if>
        </set>
        WHERE quest_id = #{questId}
    </update>

</mapper>
