<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinchao.dao.mapper.AnswerMapper">

    <resultMap id="ResultMap" type="com.xinchao.dao.entity.Answer" >
        <result column="id" property="id" />
        <result column="quest_id" property="questId" />
        <result column="zhang_id" property="zhangId" />
        <result column="ke_id" property="keId" />
        <result column="answers" property="answers" />
        <result column="answer_size" property="answerSize" />
        <result column="is_correct" property="isCorrect" />
        <result column="quest_name" property="questName" />
        <result column="answers_name" property="answersName" />
    </resultMap>

    <sql id="Base_Column_List">
                id,
                quest_id,
                zhang_id,
                ke_id,
                answers,
                answer_size,
                is_correct,
                quest_name,
                answers_name
    </sql>

    <sql id="whereSQL">
        <if test="questId != null and questId != '' ">
            AND quest_id = #{questId}
        </if>
        <if test="zhangId != null and zhangId != '' ">
            AND zhang_id = #{zhangId}
        </if>
        <if test="keId != null and keId != '' ">
            AND ke_id = #{keId}
        </if>
        <if test="answers != null and answers != '' ">
            AND answers = #{answers}
        </if>
        <if test="isCorrect != null ">
            AND is_correct = #{isCorrect}
        </if>
        <if test="questName != null and questName != '' ">
            AND quest_name like concat('%', #{questName}, '%')
        </if>
        <if test="answersName != null and answersName != '' ">
            AND answers_name = #{answersName}
        </if>
    </sql>

    <select id="selectForList" resultMap="ResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM answer
        WHERE 1 = 1
        <include refid="whereSQL" />
    </select>

    <select id="selectOne" resultMap="ResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM answer
        WHERE quest_id = #{questId}
    </select>

    <insert id="insert"  parameterType="com.xinchao.dao.entity.Answer">
        INSERT INTO answer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test ='null != questId'>
                quest_id,
            </if>
            <if test ='null != zhangId'>
                zhang_id,
            </if>
            <if test ='null != keId'>
                ke_id,
            </if>
            <if test ='null != answers'>
                answers,
            </if>
            <if test ='null != answerSize'>
                answer_size,
            </if>
            <if test ='null != isCorrect'>
                is_correct,
            </if>
            <if test ='null != questName'>
                quest_name,
            </if>
            <if test ='null != answersName'>
                answers_name
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test ='null != questId'>
                #{questId},
            </if>
            <if test ='null != zhangId'>
                #{zhangId},
            </if>
            <if test ='null != keId'>
                #{keId},
            </if>
            <if test ='null != answers'>
                #{answers},
            </if>
            <if test ='null != answerSize'>
                #{answerSize},
            </if>
            <if test ='null != isCorrect'>
                #{isCorrect},
            </if>
            <if test ='null != questName'>
                #{questName},
            </if>
            <if test ='null != answersName'>
                #{answersName}
            </if>
        </trim>
    </insert>

    <insert id="insertBatch" parameterType="com.xinchao.dao.entity.Answer">
        insert into answer (quest_id, zhang_id, ke_id, answers, is_correct) values
        <foreach collection="list" item="item" separator=",">
            (#{item.questId}, #{item.zhangId}, #{item.keId}, #{item.answers}, #{item.isCorrect})
        </foreach>
    </insert>

    <update id="update" parameterType="com.xinchao.dao.entity.Answer">
        UPDATE answer
        <set>
            <if test ='null != zhangId'>zhang_id = #{zhangId},</if>
            <if test ='null != keId'>ke_id = #{keId},</if>
            <if test ='null != answers'>answers = #{answers},</if>
            <if test ='null != answerSize'>answer_size = #{answerSize},</if>
            <if test ='null != isCorrect'>is_correct = #{isCorrect},</if>
            <if test ='null != questName'>quest_name = #{questName},</if>
            <if test ='null != answersName'>answers_name = #{answersName}</if>
        </set>
        WHERE quest_id = #{questId}
    </update>

</mapper>
