<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinchao.dao.mapper.UserMapper">

    <resultMap id="ResultMap" type="com.xinchao.dao.entity.User" >
        <result column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="pw" property="pw" />
        <result column="ptop_id" property="ptopId" />
        <result column="ru_id" property="ruId" />
        <result column="is_class" property="isClass" />
        <result column="is_test" property="isTest" />
    </resultMap>

    <sql id="Base_Column_List">
                id,
                uid,
                pw,
                ptop_id,
                ru_id,
                is_class,
                is_test
    </sql>

    <sql id="whereSQL">
        <if test="uid != null and uid != '' ">
            AND uid = #{uid}
        </if>
        <if test="pw != null and pw != '' ">
            AND pw = #{pw}
        </if>
        <if test="ptopId != null and ptopId != '' ">
            AND ptop_id = #{ptopId}
        </if>
        <if test="ruId != null and ruId != '' ">
            AND ru_id = #{ruId}
        </if>
        <if test="isClass != null ">
            AND is_class = #{isClass}
        </if>
        <if test="isTest != null ">
            AND is_test = #{isTest}
        </if>
    </sql>

    <select id="selectForPage" resultMap="ResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM user
        WHERE 1 = 1
        <include refid="whereSQL" />
    </select>

    <select id="selectOne" resultMap="ResultMap" parameterType="com.xinchao.dao.entity.User">
        SELECT <include refid="Base_Column_List" />
        FROM user
        WHERE uid = #{uid} AND pw = #{pw}
    </select>

    <insert id="insert" parameterType="com.xinchao.dao.entity.User">
        INSERT INTO user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test ='null != uid'>
                uid,
            </if>
            <if test ='null != pw'>
                pw,
            </if>
            <if test ='null != ptopId'>
                ptop_id,
            </if>
            <if test ='null != ruId'>
                ru_id,
            </if>
            <if test ='null != isClass'>
                is_class,
            </if>
            <if test ='null != isTest'>
                is_test,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test ='null != uid'>
                #{uid},
            </if>
            <if test ='null != pw'>
                #{pw},
            </if>
            <if test ='null != ptopId'>
                #{ptopId},
            </if>
            <if test ='null != ruId'>
                #{ruId},
            </if>
            <if test ='null != isClass'>
                #{isClass},
            </if>
            <if test ='null != isTest'>
                #{isTest},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.xinchao.dao.entity.User">
        UPDATE user
        <set>
            <if test ='null != uid'>uid = #{uid},</if>
            <if test ='null != pw'>pw = #{pw},</if>
            <if test ='null != ptopId'>ptop_id = #{ptopId},</if>
            <if test ='null != ruId'>ru_id = #{ruId},</if>
            <if test ='null != isClass'>is_class = #{isClass},</if>
            <if test ='null != isTest'>is_test = #{isTest},</if>
            <if test ='null != createTime'>create_time = #{createTime}</if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>